.article-title= "Hi, #{@user.full_name || @user.username}"
.article-content
  %p
    You have been assigned to work on work item <em class='highlight'>#{@work_item.name}</em> in project <em class='highlight'>#{@project_name}</em>.
  %p
    You can visit project page #{link_to 'here', @project_url}.
  %p
    Best regards,
    %br
    Ness team.
