.jumbotron{:style => 'text-align: left;margin-bottom: 10px;'}
  .container
    %h2 Welcome to Kanbanness
    %p.lead
      Ness Agile Kanban Application
.container
  .row.elements
    .span4
      %h3
        Accounts
      %ul.nav.nav-list.bs-docs-sidenav
        - @accounts.each do |a|
          %li
            = link_to account_projects_path(a) do
              =a.name
              %i.icon-chevron-right
      %p
      %p
        = link_to accounts_path do
          %button.btn.btn-large.btn-primary{type: 'button'} See all...
    .span4
      %h3
        Owning Projects
      -if @owning_projects.any?
        %ul.nav.nav-list.bs-docs-sidenav
          - @owning_projects.each do |p|
            %li
              = link_to account_project_path(p.account, p) do
                =p.name
                %i.icon-chevron-right
      -if @member_projects.any?
        %h3
          Member in Projects
        %ul.nav.nav-list.bs-docs-sidenav
          - @member_projects.each do |p|
            %li
              = link_to account_project_path(p.account, p) do
                = p.name
                %i.icon-chevron-right

    .span4
      %p
        -if current_user.avatar.present?
          =image_tag current_user.avatar.url(:medium)
        -else
          =image_tag "default_user_icon_128.png"
      %p
        = current_user.full_name
        %br
        = current_user.username
        %br
        = current_user.email
      %ul.nav.nav-list
        %li=link_to 'Edit My Profile', profile_path
      %hr
