= form_for @project do |f|
  - if @project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @project.errors.full_messages.each do |msg|
          %li= msg
  .control-group
    = f.label :name, :class => 'control-label'
    .controls
      =f.text_field :name
  .control-group
    = f.label :description, :class => 'control-label'
    .controls
      =f.text_area :description, :cols => 10, :rows => 5
  .control-group
    = f.label "Select the Account"
    .controls
      =f.select :account_id, options_from_collection_for_select(current_user.accounts, :id, :name)
  .control-group
    %br/
    =f.label "Project Visibility"
    =f.radio_button :visible, false, {:checked => true}
    =f.label "Public"
    =f.radio_button :visible, true
    =f.label "Private"
  .form-actions
    = content_tag :button,  :type => :submit, :class => 'btn btn-primary' do
      Create Project
