.row-fluid.elements
  .span6.offset1
    %h3
      Project List
    %table.table.table-striped.table-bordered
      %tr
        %th
          ACCOUNT  :
          = @projects.first.account.name.upcase
        %th
          .btn-group
            %button.btn.btn-small Projects
            =link_to "#", :class => "button btn btn-small dropdown-toggle", 'data-toggle' => 'dropdown' do
              %span.caret
            %ul.dropdown-menu
              %li
                =link_to 'Create Project', new_project_path

      - @projects.each do |project|
        %tr
          %td
            %span.badge
              = project.visible ? "PUBLIC" : "PRIVATE"
            = project.name
          %td
            = link_to edit_project_path(project) do
              = content_tag :button, :class => 'btn btn-info' do
                Edit
            = link_to project, method: :delete, data: { confirm: 'Are you sure?' } do
              = content_tag :button, :class => 'btn btn-danger' do
                Delete
  .offset1
