- content_for :head do
  = javascript_include_tag 'project'
  :javascript
    PROJECT_ID = "#{params['id']}";
    ACCOUNT_ID = "#{params['account_id']}";

.row-fluid.elements
  .span10
    %table{style: 'height:50px;'}
      %th
        %span.badge
          = @project.visible ? "PUBLIC" : "PRIVATE"
      %th
        %h3 #{@project.name}
    %div{class: "list-area-wrapper"}
      .steps-container{data:{bind: "attr: {style: 'height:100%;min-width:' + containerWidth() + 'px;'}"}}
        %ul.default.steps.sortable_steps{data: {bind: "foreach:steps, sortableList: {list:steps, connectWith: '.sortable_steps'}" }}
          =render :partial => 'projects/templates/step'
  .span2.condensed
    %fieldset
      =render partial: "projects/templates/members"
      =render partial: "projects/templates/new_step_form"
      =render partial: "projects/templates/activity_log"
