
- content_for :head do
  = javascript_include_tag 'project'
  :javascript
    SETTINGS = {
      project_id: "#{params['id']}",
      account_id: "#{params['account_id']}",
      work_items: {
        add_path : "#{work_items_path(format: :json)}",
        update_position_path: "#{update_positions_path(format: :json)}",
        update_path: function(id) {
          return "#{work_items_path}/" + id + ".json"
        }
      },
      tasks: {
        create_path: "#{tasks_path(format: :json)}",
        update_path: function (id) {
            return "/tasks/" + id + ".json";
          },
        delete_path: function (id) {
          return SETTINGS.tasks.update_path(id);
          }
      },
      steps: {
        steps_path: "#{account_project_steps_path(params['account_id'], params['id'], :format => :json)}",
        update_positions: "#{update_steps_positions_path(format: :json)}",
        update_path: function (id) {
          return "#{steps_path}/" + id + ".json"
        }
      },
      memberships: {
        memberships_path: "#{account_project_memberships_path(params['account_id'], params['id'], :format => :json)}"
      }
    }

#header
  %span.badge
    = @project.visible ? "PUBLIC" : "PRIVATE"
  %span #{@project.name}
#page
  #main
    #main-content
      =render partial: "projects/templates/edit_work_item"
      %ul.default.steps.sortable_steps{data: {bind: "foreach:steps, sortableList: {list:steps, axis: 'x', items: 'li.step:not(.not_sortable)'}" }}
        =render :partial => 'projects/templates/step'
  #sidebar
    %fieldset
    =render partial: "projects/templates/members"
    =render partial: "projects/templates/new_member_form"
    =render partial: "projects/templates/new_step_form"
    =render partial: "projects/templates/activity_log"
