= form_for(@work_type) do |f|
  - if @work_type.errors.any?
    #error_explanation
      %h2
        = pluralize(@work_type.errors.count, "error")
        prohibited this work_type from being saved:
      %ul
        - @work_type.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    =f.text_field :name
  .form-actions
    = content_tag :button,  :type => :submit, :class => 'btn btn-primary' do
      Create Worktype
