%fieldset
  %legend Listing Work Types
  %table
    %tr
      %th
      %th
      %th
    - @work_types.each do |work_type|
      %tr
        %td
          = work_type.name
        %td= link_to 'Show', work_type
        %td= link_to 'Edit', edit_work_type_path(work_type)
        %td= link_to 'Destroy', work_type, method: :delete, data: { confirm: 'Are you sure?' }
  %br/
  = link_to 'New Work type', new_work_type_path