= form_for(@step) do |f|
  - if @step.errors.any?
    #error_explanation
      %h2
        = pluralize(@step.errors.count, "error")
        prohibited this step from being saved:
      %ul
        - @step.errors.full_messages.each do |msg|
          %li= msg
  .control-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name
  .control-group
    = f.label :capacity, :class => 'control-label'
    .controls
      = f.text_field :capacity
  .form-actions
    = content_tag :button,  :type => :submit, :class => 'btn btn-primary' do
      Create Project Tasks
