.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container-fluid
      =link_to root_url, class: 'brand' do
        Kanban
        %span.blue ness
      - if user_signed_in?
        .nav-collapse.container-fluid
          %ul.nav
            %li
              = link_to 'Accounts', accounts_path
            %li
              = link_to 'Projects', new_project_path
            %li
              =link_to 'Project Steps', new_step_path
            %li
              = link_to 'Work types', new_work_type_path
            %li
              = link_to 'Work items', new_work_item_path
            %li
              = link_to 'Tasks', new_task_path
            %li
              = link_to 'Help'

          %ul.nav.pull-right
            .btn-group
              =link_to "#", :class => "btn dropdown-toggle", 'data-toggle' => 'dropdown' do
                Accounts
                %span.caret
              %ul.dropdown-menu
                %li
                  = link_to 'New Accounts', new_account_path
                %li
                  = link_to destroy_user_session_path, :method => :delete do
                    Another Action
            .btn-group
              = link_to '#', :class => 'btn btn-primary' do
                %i.icon-user.icon-white
                =current_user.username
              =link_to "#", :class => "btn btn-primary dropdown-toggle", 'data-toggle' => 'dropdown' do
                %span.caret
              %ul.dropdown-menu
                %li
                  = link_to '#' do
                    %i.icon-pencil
                    Profile
                %li
                  = link_to destroy_user_session_path, :method => :delete do
                    %i.icon-off
                    Logout