.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container-fluid
      =link_to root_url, class: 'brand' do
        Kanban
        %span.blue ness
      - if user_signed_in?
        .nav-collapse.container-fluid
          %ul.nav
            %li
              = link_to 'Projects', root_path
            %li
              = link_to 'Help'

          %ul.nav.pull-right
            .btn-group
              = link_to '#', :class => 'btn btn-primary' do
                %i.icon-user.icon-white
                =current_user.username
              =link_to "#", :class => "btn btn-primary dropdown-toggle", 'data-toggle' => 'dropdown' do
                %span.caret
              %ul.dropdown-menu
                %li
                  Logged in as
                  = current_user.username
                %li
                  %hr/
                -if @account
                  %li
                    Account:
                    =link_to @account.name, account_projects_path(@account)
                -if @accounts.size > 1
                  %li
                    %hr/
                  %li
                    Switch to account:
                  -@accounts.each do |acc|
                    %li
                      =link_to acc.name, account_projects_path(acc)
                %li
                  %hr/
                %li
                  = link_to profile_path do
                    %i.icon-pencil
                    My Profile
                %li
                  = link_to destroy_user_session_path, :method => :delete do
                    %i.icon-off
                    Logout
