<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <title>Kanbanness</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="main">

  <div id="header">
    <div class="header-left">
      <h1>Kanban<span class="ness">ness</span></h1>
    </div>
    <div class="header-right">
      <%= render "devise/shared/links" %>
    </div>
    <% if user_signed_in? %>
        <div id="nav">
          <%= link_to 'Accounts', "" %> | <%= link_to 'Projects', "" %> | <%= link_to 'Project Steps', new_step_path %>
          | <%= link_to 'Work types', new_work_type_path %>
        </div>
    <% end %>
  </div>

  <div id="content">
    <%= yield %>
  </div>

  <div id="footer">
    <p class="footer-left">
      &copy; 2012 Kanbanness &nbsp; &nbsp; &nbsp;
    </p>

    <p class="footer-right">
    </p>

  </div>
</div>
</body>
</html>
