= form_for @account do |f|
  - if @account.errors.any?
    #error_explanation
      %h2= "#{pluralize(@account.errors.count, "error")} prohibited this account from being saved:"
      %ul
        - @account.errors.full_messages.each do |msg|
          %li= msg
  .control-group
    = f.label :name, :class => 'control-label'
    .controls
      =f.text_field :name
  .control-group
    = f.label :description, :class => 'control-label'
    .controls
      =f.text_area :description, :cols => 10, :rows => 5
  .form-actions
    = content_tag :button,  :type => :submit, :class => 'btn btn-primary' do
      Create Account

